*{
    margin: 0;
}
.app__post{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.app{
    background-color: #fafafa;
}
.app__headerImage{
    object-fit: contain;
}
.app__header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.app__signup{
    display: flex;
    flex-direction: column;
}

.app__postRight{
    margin-left: 20px;
}